In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [2]:
m_path = "../Data/meteorite-landings.csv"
e_path = "../Data/EQ_database.csv"
v_path = "../Data/volerup.csv"
meteor_df = pd.read_csv(m_path, encoding="utf-8")
eq_df = pd.read_csv(e_path, encoding="utf-8")
volcano_df = pd.read_csv(v_path, encoding="utf-8")
meteor_df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [3]:
volcano_df.head()

,Year,Month,Day,TSU,EQ,Name,Location,Country,Latitude,Longitude,...,TOTAL_DEATHS,TOTAL_DEATHS_DESCRIPTION,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-4360.0,NaN,NaN,NaN,NaN,Macauley Island,Kermadec Is,New Zealand,-30.200,-178.470,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-4350.0,NaN,NaN,NaN,NaN,Kikai,Ryukyu Is,Japan,30.780,130.280,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0
3,-4050.0,NaN,NaN,NaN,NaN,Masaya,Nicaragua,Nicaragua,11.984,-86.161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-4000.0,NaN,NaN,NaN,NaN,Pago,New Britain-SW Pac,Papua New Guinea,-5.580,150.520,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [4]:
eq_df.head()

,Type,Date,Time,Latitude,Longitude,Type.1,Depth,Depth Error,Depth Seismic Stations,Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,Earthquake,1/2/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,Earthquake,1/4/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,Earthquake,1/5/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,Earthquake,1/8/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,Earthquake,1/9/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [5]:
# Cleaning Meteor Dataset
list(meteor_df)

['name',
 'id',
 'nametype',
 'recclass',
 'mass',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation']

In [6]:
meteor_df = meteor_df.drop(['id', 'nametype', 'recclass', 'fall', 'GeoLocation'], axis=1)

In [7]:
meteor_df.columns = ['Name', 'Mass', 'Year', 'Latitude', 'Longitude']
meteor_df.dropna()
meteor_df.head()

       Name      Mass    Year  Latitude  Longitude
0    Aachen      21.0  1880.0  50.77500    6.08333
1    Aarhus     720.0  1951.0  56.18333   10.23333
2      Abee  107000.0  1952.0  54.21667 -113.00000
3  Acapulco    1914.0  1976.0  16.88333  -99.90000
4   Achiras     780.0  1902.0 -33.16667  -64.95000

In [8]:
#Labeling Metoer events
meteor_passer= []
for row in meteor_df.index:
    if row >= 0:
        meteor_passer.append('Meteor')

In [9]:
meteor_df['Type'] = meteor_passer
meteor_df.head()

       Name      Mass    Year  Latitude  Longitude    Type
0    Aachen      21.0  1880.0  50.77500    6.08333  Meteor
1    Aarhus     720.0  1951.0  56.18333   10.23333  Meteor
2      Abee  107000.0  1952.0  54.21667 -113.00000  Meteor
3  Acapulco    1914.0  1976.0  16.88333  -99.90000  Meteor
4   Achiras     780.0  1902.0 -33.16667  -64.95000  Meteor

In [10]:
#Reapplying NA where data is missing
meteor_df.fillna(str("NaN"))

                      Name    Mass  Year Latitude Longitude    Type
0                   Aachen      21  1880   50.775   6.08333  Meteor
1                   Aarhus     720  1951  56.1833   10.2333  Meteor
2                     Abee  107000  1952  54.2167      -113  Meteor
3                 Acapulco    1914  1976  16.8833     -99.9  Meteor
4                  Achiras     780  1902 -33.1667    -64.95  Meteor
5                 Adhi Kot    4239  1919     32.1      71.8  Meteor
6      Adzhi-Bogdo (stone)     910  1949  44.8333   95.1667  Meteor
7                     Agen   30000  1814  44.2167   0.61667  Meteor
8                   Aguada    1620  1930    -31.6  -65.2333  Meteor
9            Aguila Blanca    1440  1920 -30.8667    -64.55  Meteor
10        Aioun el Atrouss    1000  1974  16.3981  -9.57028  Meteor
11                     Aïr   24000  1925  19.0833   8.38333  Meteor
12         Aire-sur-la-Lys     NaN  1769  50.6667   2.33333  Meteor
13                   Akaba     779  1949  29.5167     35.05  Meteor
14                Akbarpur    1800  1838  29.7167     77.95  Meteor
15                 Akwanga    3000  1959  8.91667   8.43333  Meteor
16                 Akyumak   50000  1981  39.9167   42.8167  Meteor
17                 Al Rais     160  1957  24.4167   39.5167  Meteor
18               Al Zarnkh     700  2001  13.6603     28.96  Meteor
19                   Alais    6000  1806  44.1167   4.08333  Meteor
20                Albareto    2000  1766    44.65   11.0167  Meteor
21                 Alberta     625  1949        2   22.6667  Meteor
22         Alby sur Chéran     252  2002  45.8213   6.01533  Meteor
23               Aldsworth     700  1835  51.7833  -1.78333  Meteor
24                  Aleppo    3200  1873  36.2333   37.1333  Meteor
25             Alessandria     908  1860  44.8833      8.75  Meteor
26           Alexandrovsky    9251  1900    50.95   31.8167  Meteor
27              Alfianello  228000  1883  45.2667     10.15  Meteor
28                 Allegan   32000  1899  42.5333  -85.8833  Meteor
29                 Allende   2e+06  1969  26.9667  -105.317  Meteor
...                    ...     ...   ...      ...       ...     ...
45686               Ysleta  140700  1914    31.65  -106.183  Meteor
45687            Yucca 015       3  2011  34.8197  -114.276  Meteor
45688            Yucca 016    25.9  2011  34.8266  -114.278  Meteor
45689            Yucca 017     200  2011  34.8192  -114.277  Meteor
45690               Yudoma    7600  1946       60       140  Meteor
45691     Zacatecas (1792)   1e+06  1792  22.8167  -102.567  Meteor
45692     Zacatecas (1969)    6660  1969      NaN       NaN  Meteor
45693               Zaffra    3000  1919       35    -94.75  Meteor
45694              Zag (b)     300  1999  27.3333  -9.33333  Meteor
45695               Zagora   50000  1987  30.3667     -5.85  Meteor
45696            Zakłodzie    8680  1998  50.7628   22.8661  Meteor
45697           Zapaliname   85000  1998  25.0094   -100.75  Meteor
45698        Zapata County     NaN  1930       27       -99  Meteor
45699   Zapotitlán Salinas    27.7  1984  18.3333     -97.5  Meteor
45700             Zaragoza  162000   NaN    41.65  -0.86667  Meteor
45701               Zegdou    6700  1998    29.75      -4.5  Meteor
45702              Zelfana    1058  2002  32.1583   4.63333  Meteor
45703                Zenda    3700  1955  42.5133  -88.4894  Meteor
45704                Zerga      76  1973    20.25  -12.6833  Meteor
45705             Zerhamra  630000  1967  29.8586    -2.645  Meteor
45706              Zerkaly   16000  1956  52.1333   81.9667  Meteor
45707             Zhaoping   2e+06  1983  24.2333   111.183  Meteor
45708             Zhigansk  900000  1966       68     128.3  Meteor
45709           Zhongxiang  100000  1981     31.2     112.5  Meteor
45710           Zillah 001    1475  1990   29.037   17.0185  Meteor
45711           Zillah 002     172  1990   29.037   17.0185  Meteor
45712               Zinder      46  1999  13.7833   8.96667  Meteor
45713                 Zlin     3.3  1939    49.25   17.6667  Meteor
45714            Zubkovsky    2167  2003  49.7892   41.5046  Meteor
45715           Zulu Queen     200  1976  33.9833  -115.683  Meteor

[45716 rows x 6 columns]

In [11]:
#Dropping NA
meteor_df.dropna()

                      Name       Mass    Year  Latitude  Longitude    Type
0                   Aachen       21.0  1880.0  50.77500    6.08333  Meteor
1                   Aarhus      720.0  1951.0  56.18333   10.23333  Meteor
2                     Abee   107000.0  1952.0  54.21667 -113.00000  Meteor
3                 Acapulco     1914.0  1976.0  16.88333  -99.90000  Meteor
4                  Achiras      780.0  1902.0 -33.16667  -64.95000  Meteor
5                 Adhi Kot     4239.0  1919.0  32.10000   71.80000  Meteor
6      Adzhi-Bogdo (stone)      910.0  1949.0  44.83333   95.16667  Meteor
7                     Agen    30000.0  1814.0  44.21667    0.61667  Meteor
8                   Aguada     1620.0  1930.0 -31.60000  -65.23333  Meteor
9            Aguila Blanca     1440.0  1920.0 -30.86667  -64.55000  Meteor
10        Aioun el Atrouss     1000.0  1974.0  16.39806   -9.57028  Meteor
11                     Aïr    24000.0  1925.0  19.08333    8.38333  Meteor
13                   Akaba      779.0  1949.0  29.51667   35.05000  Meteor
14                Akbarpur     1800.0  1838.0  29.71667   77.95000  Meteor
15                 Akwanga     3000.0  1959.0   8.91667    8.43333  Meteor
16                 Akyumak    50000.0  1981.0  39.91667   42.81667  Meteor
17                 Al Rais      160.0  1957.0  24.41667   39.51667  Meteor
18               Al Zarnkh      700.0  2001.0  13.66033   28.96000  Meteor
19                   Alais     6000.0  1806.0  44.11667    4.08333  Meteor
20                Albareto     2000.0  1766.0  44.65000   11.01667  Meteor
21                 Alberta      625.0  1949.0   2.00000   22.66667  Meteor
22         Alby sur Chéran      252.0  2002.0  45.82133    6.01533  Meteor
23               Aldsworth      700.0  1835.0  51.78333   -1.78333  Meteor
24                  Aleppo     3200.0  1873.0  36.23333   37.13333  Meteor
25             Alessandria      908.0  1860.0  44.88333    8.75000  Meteor
26           Alexandrovsky     9251.0  1900.0  50.95000   31.81667  Meteor
27              Alfianello   228000.0  1883.0  45.26667   10.15000  Meteor
28                 Allegan    32000.0  1899.0  42.53333  -85.88333  Meteor
29                 Allende  2000000.0  1969.0  26.96667 -105.31667  Meteor
30          Almahata Sitta     3950.0  2008.0  20.74575   32.41275  Meteor
...                    ...        ...     ...       ...        ...     ...
45683              Youanmi   118400.0  1917.0 -29.50000  118.75000  Meteor
45684            Youndegin  3800000.0  1884.0 -32.10000  117.71667  Meteor
45685                Youxi   218000.0  2006.0  26.06000  118.01000  Meteor
45686               Ysleta   140700.0  1914.0  31.65000 -106.18333  Meteor
45687            Yucca 015        3.0  2011.0  34.81970 -114.27610  Meteor
45688            Yucca 016       25.9  2011.0  34.82658 -114.27763  Meteor
45689            Yucca 017      200.0  2011.0  34.81923 -114.27735  Meteor
45690               Yudoma     7600.0  1946.0  60.00000  140.00000  Meteor
45691     Zacatecas (1792)  1000000.0  1792.0  22.81667 -102.56667  Meteor
45693               Zaffra     3000.0  1919.0  35.00000  -94.75000  Meteor
45694              Zag (b)      300.0  1999.0  27.33333   -9.33333  Meteor
45695               Zagora    50000.0  1987.0  30.36667   -5.85000  Meteor
45696            Zakłodzie     8680.0  1998.0  50.76278   22.86611  Meteor
45697           Zapaliname    85000.0  1998.0  25.00944 -100.75000  Meteor
45699   Zapotitlán Salinas       27.7  1984.0  18.33333  -97.50000  Meteor
45701               Zegdou     6700.0  1998.0  29.75000   -4.50000  Meteor
45702              Zelfana     1058.0  2002.0  32.15833    4.63333  Meteor
45703                Zenda     3700.0  1955.0  42.51333  -88.48944  Meteor
45704                Zerga       76.0  1973.0  20.25000  -12.68333  Meteor
45705             Zerhamra   630000.0  1967.0  29.85861   -2.64500  Meteor
45706              Zerkaly    16000.0  1956.0  52.13333   81.96667  Meteor
45707             Zhaoping  2000000.0  1983.0  24.23333  111.18333  Meteor
45708             Zhigansk   900000.0  1966.0  68.00000  128.30000  Meteor
45709           Zhongxiang   100000.0  1981.0  31.20000  112.50000  Meteor
45710           Zillah 001     1475.0  1990.0  29.03700   17.01850  Meteor
45711           Zillah 002      172.0  1990.0  29.03700   17.01850  Meteor
45712               Zinder       46.0  1999.0  13.78333    8.96667  Meteor
45713                 Zlin        3.3  1939.0  49.25000   17.66667  Meteor
45714            Zubkovsky     2167.0  2003.0  49.78917   41.50460  Meteor
45715           Zulu Queen      200.0  1976.0  33.98333 -115.68333  Meteor

[38116 rows x 6 columns]

In [12]:
#Sorting by Mass
meteor_df = meteor_df.sort_values(by='Mass', ascending=False)
meteor_df = meteor_df.reset_index(drop=True)
meteor_df.head()

              Name        Mass    Year  Latitude  Longitude    Type
0             Hoba  60000000.0  1920.0 -19.58333   17.91667  Meteor
1        Cape York  58200000.0  1818.0  76.13333  -64.93333  Meteor
2  Campo del Cielo  50000000.0  1575.0 -27.46667  -60.58333  Meteor
3    Canyon Diablo  30000000.0  1891.0  35.05000 -111.03333  Meteor
4          Armanty  28000000.0  1898.0  47.00000   88.00000  Meteor

In [13]:
#Assigning Severity Rating
mass_passer= []
for row in meteor_df['Mass']:
    if row >= 10000000.0:
        mass_passer.append('5')
    elif row >= 4300000.0:
        mass_passer.append('4')
    elif row >= 3000000.0:
        mass_passer.append('3')
    elif row >= 600000.0:
        mass_passer.append('2')
    else:
        mass_passer.append('1')

In [14]:
#Dropping the rating into the DataFrame
meteor_df['Rating'] = mass_passer
meteor_df.head()

              Name        Mass    Year  Latitude  Longitude    Type Rating
0             Hoba  60000000.0  1920.0 -19.58333   17.91667  Meteor      5
1        Cape York  58200000.0  1818.0  76.13333  -64.93333  Meteor      5
2  Campo del Cielo  50000000.0  1575.0 -27.46667  -60.58333  Meteor      5
3    Canyon Diablo  30000000.0  1891.0  35.05000 -111.03333  Meteor      5
4          Armanty  28000000.0  1898.0  47.00000   88.00000  Meteor      5

In [15]:
# Cleaning Earthquake Dataset
list(eq_df)

['Type',
 'Date',
 'Time',
 'Latitude',
 'Longitude',
 'Type.1',
 'Depth',
 'Depth Error',
 'Depth Seismic Stations',
 'Magnitude',
 'Magnitude Type',
 'Magnitude Error',
 'Magnitude Seismic Stations',
 'Azimuthal Gap',
 'Horizontal Distance',
 'Horizontal Error',
 'Root Mean Square',
 'ID',
 'Source',
 'Location Source',
 'Magnitude Source',
 'Status']

In [16]:
#Dropping columns to match with others
eq_df = eq_df.drop(['Type.1', 'Depth', 'Depth Error', 'Depth Seismic Stations', 'Magnitude Seismic Stations','Azimuthal Gap', 'Horizontal Distance', 'Horizontal Error', 'Root Mean Square', 'ID', 'Source', 'Location Source', 'Magnitude Source', 'Status', 'Magnitude Type','Magnitude Error' ], axis=1)
eq_df.head()

         Type      Date      Time  Latitude  Longitude  Magnitude
0  Earthquake  1/2/1965  13:44:18    19.246    145.616        6.0
1  Earthquake  1/4/1965  11:29:49     1.863    127.352        5.8
2  Earthquake  1/5/1965  18:05:58   -20.579   -173.972        6.2
3  Earthquake  1/8/1965  18:49:43   -59.076    -23.557        5.8
4  Earthquake  1/9/1965  13:32:50    11.938    126.427        5.8

In [17]:
eq_df = eq_df.sort_values(by='Magnitude', ascending=False)
eq_df = eq_df.reset_index(drop=True)
eq_df.head(50)

          Type        Date      Time  Latitude  Longitude  Magnitude
0   Earthquake   3/11/2011   5:46:24   38.2970   142.3730        9.1
1   Earthquake  12/26/2004   0:58:53    3.2950    95.9820        9.1
2   Earthquake   2/27/2010   6:34:12  -36.1220   -72.8980        8.8
3   Earthquake    2/4/1965   5:01:22   51.2510   178.7150        8.7
4   Earthquake   3/28/2005  16:09:37    2.0850    97.1080        8.6
5   Earthquake   4/11/2012   8:38:37    2.3270    93.0630        8.6
6   Earthquake   6/23/2001  20:33:14  -16.2650   -73.6410        8.4
7   Earthquake   9/12/2007  11:10:27   -4.4380   101.3670        8.4
8   Earthquake   5/24/2013   5:44:49   54.8920   153.2210        8.3
9   Earthquake  11/15/2006  11:14:14   46.5920   153.2660        8.3
10  Earthquake   9/16/2015  22:54:33  -31.5729   -71.6744        8.3
11  Earthquake   10/4/1994  13:22:56   43.7730   147.3210        8.3
12  Earthquake   9/25/2003  19:50:06   41.8150   143.9100        8.3
13  Earthquake   5/16/1968   0:49:02   40.8600   143.4350        8.2
14  Earthquake    4/1/2014  23:46:47  -19.6097   -70.7691        8.2
15  Earthquake    6/9/1994   0:33:16  -13.8410   -67.5530        8.2
16  Earthquake   4/11/2012  10:43:11    0.8020    92.4630        8.2
17  Earthquake   2/17/1996   5:59:31   -0.8910   136.9520        8.2
18  Earthquake   5/23/1989  10:54:46  -52.3410   160.5680        8.2
19  Earthquake   1/24/1965   0:11:17   -2.6080   125.9520        8.2
20  Earthquake    4/1/2007  20:39:59   -8.4660   157.0430        8.1
21  Earthquake  10/17/1966  21:42:00  -10.6650   -78.2280        8.1
22  Earthquake   3/25/1998   3:12:25  -62.8770   149.5270        8.1
23  Earthquake   7/26/1971   1:23:22   -4.8170   153.1720        8.1
24  Earthquake  12/23/2004  14:59:04  -49.3120   161.3450        8.1
25  Earthquake   9/29/2009  17:48:11  -15.4890  -172.0950        8.1
26  Earthquake   1/13/2007   4:23:21   46.2430   154.5240        8.1
27  Earthquake   12/2/1972   0:19:52    6.4050   126.6400        8.0
28  Earthquake    5/7/1986  22:47:11   51.5200  -174.7760        8.0
29  Earthquake  11/16/2000   4:54:57   -3.9800   152.1690        8.0
30  Earthquake   1/14/1976  16:47:34  -28.4270  -177.6570        8.0
31  Earthquake   7/14/1971   6:11:30   -5.5240   153.8500        8.0
32  Earthquake   7/31/1970  17:08:05   -1.5970   -72.5320        8.0
33  Earthquake    3/3/1985  22:47:07  -33.1350   -71.8710        8.0
34  Earthquake    2/6/2013   1:12:26  -10.7990   165.1140        8.0
35  Earthquake   7/30/1995   5:11:24  -23.3400   -70.2940        8.0
36  Earthquake   10/9/1995  15:35:54   19.0550  -104.2050        8.0
37  Earthquake   8/15/2007  23:40:58  -13.3860   -76.6030        8.0
38  Earthquake    5/3/2006  15:26:40  -20.1870  -174.1230        8.0
39  Earthquake   9/19/1985  13:17:47   18.1900  -102.5330        8.0
40  Earthquake   7/20/1975  14:37:40   -6.5900   155.0540        7.9
41  Earthquake   9/12/2007  23:49:04   -2.6250   100.8410        7.9
42  Earthquake   5/12/2008   6:28:02   31.0020   103.3220        7.9
43  Earthquake  12/17/2016  10:51:10   -4.5049   153.5216        7.9
44  Earthquake   7/17/1980  19:42:23  -12.5250   165.9160        7.9
45  Earthquake    1/1/1996   8:05:11    0.7290   119.9310        7.9
46  Earthquake   9/12/1979   5:17:51   -1.6790   136.0400        7.9
47  Earthquake   5/26/1975   9:11:52   35.9970   -17.6490        7.9
48  Earthquake   5/16/1968  10:39:02   41.4300   142.8640        7.9
49  Earthquake   6/23/2014  20:53:10   51.8486   178.7352        7.9

In [18]:
#Normalizing the dates
eq_df['Date'] = eq_df['Date'].str[-4:]

In [20]:
#Normalizing the dates
eq_df = eq_df.rename(columns={
    'Date':'Year'
})

In [22]:
#Assigning severity rating
mag_passer= []
for row in eq_df['Magnitude']:
    if row >= 8.5:
        mag_passer.append('5')
    elif row >= 8.0:
        mag_passer.append('4')
    elif row >= 7.7:
        mag_passer.append('3')
    elif row >= 7.3:
        mag_passer.append('2')
    else:
        mag_passer.append('1')

In [42]:
volcano_df

,Year,Country,Latitude,Longitude,Type,VEI,Rating,Volcano Type
0,1000.0,North Korea,41.980,128.080,Volcano,7.0,5,Stratovolcano
1,-4350.0,Japan,30.780,130.280,Volcano,7.0,5,Caldera
2,1815.0,Indonesia,-8.250,118.000,Volcano,7.0,5,Stratovolcano
3,-4360.0,New Zealand,-30.200,-178.470,Volcano,6.0,5,Caldera
4,540.0,Papua New Guinea,-4.271,152.203,Volcano,6.0,5,Pyroclastic shield
5,1280.0,Ecuador,-0.850,-78.900,Volcano,6.0,5,Caldera
6,60.0,United States,61.380,-141.750,Volcano,6.0,5,Stratovolcano
7,1580.0,Papua New Guinea,-6.092,155.225,Volcano,6.0,5,Pyroclastic shield
8,230.0,New Zealand,-38.820,176.000,Volcano,6.0,5,Caldera
9,240.0,Russia,51.800,157.530,Volcano,6.0,5,Stratovolcano
10,450.0,El Salvador,13.672,-89.053,Volcano,6.0,5,Caldera
11,1452.0,Vanuatu,-16.829,168.536,Volcano,6.0,5,Caldera
12,-50.0,Nicaragua,12.242,-86.342,Volcano,6.0,5,Pyroclastic shield
13,710.0,Papua New Guinea,-5.580,150.520,Volcano,6.0,5,Caldera
14,1600.0,Peru,-16.608,-70.850,Volcano,6.0,5,Stratovolcano
15,800.0,United States,61.380,-141.750,Volcano,6.0,5,Stratovolcano
16,800.0,Papua New Guinea,-5.056,150.108,Volcano,6.0,5,Caldera
17,930.0,Mexico,21.125,-104.508,Volcano,6.0,5,Stratovolcano
18,1660.0,Papua New Guinea,-5.358,147.120,Volcano,6.0,5,Complex volcano
19,1912.0,United States,58.270,-155.160,Volcano,6.0,5,Caldera
20,50.0,Vanuatu,-16.250,168.120,Volcano,6.0,5,Pyroclastic shield
21,-100.0,United States,53.420,-168.130,Volcano,6.0,5,Shield volcano
22,-1860.0,United States,46.200,-122.180,Volcano,6.0,5,Stratovolcano
23,-4050.0,Nicaragua,11.984,-86.161,Volcano,6.0,5,Caldera
24,-4000.0,Papua New Guinea,-5.580,150.520,Volcano,6.0,5,Caldera
25,-3580.0,Philippines,14.002,120.993,Volcano,6.0,5,Stratovolcano
26,-3550.0,Philippines,15.130,120.350,Volcano,6.0,5,Stratovolcano
27,1883.0,Indonesia,-6.102,105.423,Volcano,6.0,5,Caldera
28,-2040.0,Papua New Guinea,-5.358,147.120,Volcano,6.0,5,Complex volcano
29,1902.0,Guatemala,14.756,-91.552,Volcano,6.0,5,Stratovolcano
...,...,...,...,...,...,...,...,...
789,2013.0,Philippines,13.257,123.685,Volcano,NaN,1,Stratovolcano
790,2013.0,Peru,-16.355,-70.903,Volcano,NaN,1,Stratovolcano
791,2013.0,Japan,31.580,130.670,Volcano,NaN,1,Stratovolcano
792,2013.0,New Zealand,-38.120,176.500,Volcano,NaN,1,Lava dome
793,2014.0,Indonesia,3.170,98.392,Volcano,NaN,1,Stratovolcano
794,2014.0,Indonesia,-7.930,112.308,Volcano,NaN,1,Stratovolcano
795,2014.0,United States,19.425,-155.292,Volcano,NaN,1,Shield volcano
796,2014.0,Cape Verde,14.950,-24.350,Volcano,NaN,1,Stratovolcano
797,2014.0,Indonesia,0.800,127.325,Volcano,NaN,1,Stratovolcano
798,2015.0,Indonesia,3.170,98.392,Volcano,NaN,1,Stratovolcano
799,2015.0,Chile,-41.326,-72.614,Volcano,NaN,1,Stratovolcano
800,2015.0,Indonesia,2.780,125.480,Volcano,NaN,1,Stratovolcano
801,2015.0,Indonesia,3.170,98.392,Volcano,NaN,1,Stratovolcano
802,2015.0,New Zealand,-38.120,176.500,Volcano,NaN,1,Lava dome
803,2016.0,Indonesia,3.170,98.392,Volcano,NaN,1,Stratovolcano
804,2016.0,Indonesia,3.170,98.392,Volcano,NaN,1,Stratovolcano
805,2016.0,United States,44.430,-110.670,Volcano,NaN,1,Caldera
806,2016.0,Indonesia,-8.420,116.470,Volcano,NaN,1,Stratovolcano
807,2016.0,Japan,32.880,131.100,Volcano,NaN,1,Caldera
808,2017.0,Italy,37.734,15.004,Volcano,NaN,1,Stratovolcano
809,2017.0,Indonesia,-7.200,109.920,Volcano,NaN,1,Complex volcano
810,2017.0,Italy,40.827,14.139,Volcano,NaN,1,Caldera
811,2017.0,Vanuatu,-15.400,167.830,Volcano,NaN,1,Shield volcano
812,2017.0,Indonesia,-7.542,110.442,Volcano,NaN,1,Stratovolcano
813,2017.0,Indonesia,3.170,98.392,Volcano,NaN,1,Stratovolcano
814,2018.0,Papua New Guinea,-3.620,144.620,Volcano,NaN,1,Stratovolcano
815,2018.0,Philippines,13.257,123.685,Volcano,NaN,1,Stratovolcano
816,2018.0,Japan,36.620,138.550,Volcano,NaN,1,Stratovolcano
817,2018.0,Papua New Guinea,-3.620,144.620,Volcano,NaN,1,Stratovolcano
818,2018.0,Indonesia,-8.058,114.242,Volcano,NaN,1,Stratovolcano

In [24]:
eq_df['Rating']=mag_passer
eq_df.head()

         Type  Year      Time  Latitude  Longitude  Magnitude Rating
0  Earthquake  2011   5:46:24    38.297    142.373        9.1      5
1  Earthquake  2004   0:58:53     3.295     95.982        9.1      5
2  Earthquake  2010   6:34:12   -36.122    -72.898        8.8      5
3  Earthquake  1965   5:01:22    51.251    178.715        8.7      5
4  Earthquake  2005  16:09:37     2.085     97.108        8.6      5

In [25]:
# Cleaning Volcano Dataset
list(volcano_df)

['Year',
 'Month',
 'Day',
 'TSU',
 'EQ',
 'Name',
 'Location',
 'Country',
 'Latitude',
 'Longitude',
 'Elevation',
 'Type',
 'Status',
 'Time',
 'VEI',
 'Agent',
 'DEATHS',
 'DEATHS_DESCRIPTION',
 'MISSING',
 'MISSING_DESCRIPTION',
 'INJURIES',
 'INJURIES_DESCRIPTION',
 'DAMAGE_MILLIONS_DOLLARS',
 'DAMAGE_DESCRIPTION',
 'HOUSES_DESTROYED',
 'HOUSES_DESTROYED_DESCRIPTION',
 'TOTAL_DEATHS',
 'TOTAL_DEATHS_DESCRIPTION',
 'TOTAL_MISSING',
 'TOTAL_MISSING_DESCRIPTION',
 'TOTAL_INJURIES',
 'TOTAL_INJURIES_DESCRIPTION',
 'TOTAL_DAMAGE_MILLIONS_DOLLARS',
 'TOTAL_DAMAGE_DESCRIPTION',
 'TOTAL_HOUSES_DESTROYED',
 'TOTAL_HOUSES_DESTROYED_DESCRIPTION']

In [26]:
volcano_df = volcano_df.drop(['Month', 'Day', 'TSU', 'EQ', 'Name','Location', 'Elevation', 'Agent', 'DEATHS_DESCRIPTION', 'MISSING', 'MISSING_DESCRIPTION', 'INJURIES', 'INJURIES_DESCRIPTION', 'DAMAGE_MILLIONS_DOLLARS', 'DAMAGE_DESCRIPTION','HOUSES_DESTROYED', 'HOUSES_DESTROYED_DESCRIPTION', 'DAMAGE_MILLIONS_DOLLARS', 'DAMAGE_DESCRIPTION', 'TOTAL_DEATHS_DESCRIPTION', 'TOTAL_MISSING', 'TOTAL_MISSING_DESCRIPTION', 'TOTAL_INJURIES', 'TOTAL_INJURIES_DESCRIPTION', 'TOTAL_DAMAGE_MILLIONS_DOLLARS', 'TOTAL_DAMAGE_DESCRIPTION', 'TOTAL_HOUSES_DESTROYED', 'TOTAL_HOUSES_DESTROYED_DESCRIPTION','TOTAL_DEATHS','Time', 'Status', 'DEATHS'], axis=1)
volcano_df.head()

     Year           Country  Latitude  Longitude     Type  VEI
0     NaN               NaN       NaN        NaN      NaN  NaN
1 -4360.0       New Zealand   -30.200   -178.470  Caldera  6.0
2 -4350.0             Japan    30.780    130.280  Caldera  7.0
3 -4050.0         Nicaragua    11.984    -86.161  Caldera  6.0
4 -4000.0  Papua New Guinea    -5.580    150.520  Caldera  6.0

In [27]:
volcano_df.fillna(str("NaN"))

     Year           Country Latitude Longitude                Type  VEI
0     NaN               NaN      NaN       NaN                 NaN  NaN
1   -4360       New Zealand    -30.2   -178.47             Caldera    6
2   -4350             Japan    30.78    130.28             Caldera    7
3   -4050         Nicaragua   11.984   -86.161             Caldera    6
4   -4000  Papua New Guinea    -5.58    150.52             Caldera    6
5   -3580       Philippines   14.002   120.993       Stratovolcano    6
6   -3550       Philippines    15.13    120.35       Stratovolcano    6
7   -2420             Italy   40.821    14.426     Complex volcano    5
8   -2040  Papua New Guinea   -5.358    147.12     Complex volcano    6
9   -1900     United States    56.53    -158.8       Stratovolcano    6
10  -1860     United States     46.2   -122.18       Stratovolcano    6
11  -1750     United States    56.17   -159.38       Stratovolcano    6
12  -1645     United States    56.88   -158.17             Caldera    6
13  -1610            Greece   36.404    25.396      Shield volcano    6
14  -1550     United States    60.48   -152.75       Stratovolcano  NaN
15  -1460       New Zealand   -38.82       176             Caldera    6
16  -1370  Papua New Guinea    -5.58    150.52             Caldera    6
17  -1050       Philippines    15.13    120.35       Stratovolcano    6
18  -1010           Ecuador   -1.467   -78.442       Stratovolcano    5
19   -455           Ecuador   -0.677   -78.436       Stratovolcano    4
20   -250       New Zealand   -29.27   -177.92       Stratovolcano    6
21   -197            Greece   36.404    25.396      Shield volcano    3
22   -150  Papua New Guinea    -2.38    147.35     Complex volcano  NaN
23   -141             Italy   37.734    15.004       Stratovolcano  NaN
24   -100     United States    53.42   -168.13      Shield volcano    6
25    -50         Nicaragua   12.242   -86.342  Pyroclastic shield    6
26     46            Greece   36.404    25.396      Shield volcano    3
27     50           Vanuatu   -16.25    168.12  Pyroclastic shield    6
28     60     United States    61.38   -141.75       Stratovolcano    6
29     79             Italy   40.821    14.426     Complex volcano    5
..    ...               ...      ...       ...                 ...  ...
789  2014        Cape Verde    14.95    -24.35       Stratovolcano  NaN
790  2014         Indonesia      0.8   127.325       Stratovolcano  NaN
791  2015         Indonesia     3.17    98.392       Stratovolcano  NaN
792  2015             Chile  -41.326   -72.614       Stratovolcano  NaN
793  2015         Indonesia     2.78    125.48       Stratovolcano  NaN
794  2015  Papua New Guinea     -4.1   145.061       Stratovolcano    2
795  2015         Indonesia     3.17    98.392       Stratovolcano  NaN
796  2015       New Zealand   -38.12     176.5           Lava dome  NaN
797  2016         Indonesia     3.17    98.392       Stratovolcano  NaN
798  2016         Indonesia     3.17    98.392       Stratovolcano  NaN
799  2016     United States    44.43   -110.67             Caldera  NaN
800  2016         Indonesia    -8.42    116.47       Stratovolcano  NaN
801  2016             Japan    32.88     131.1             Caldera  NaN
802  2017             Italy   37.734    15.004       Stratovolcano  NaN
803  2017         Indonesia     3.17    98.392       Stratovolcano    2
804  2017         Guatemala   14.473    -90.88       Stratovolcano    2
805  2017         Indonesia     -7.2    109.92     Complex volcano  NaN
806  2017             Italy   40.827    14.139             Caldera  NaN
807  2017           Vanuatu    -15.4    167.83      Shield volcano  NaN
808  2017         Indonesia   -7.542   110.442       Stratovolcano  NaN
809  2017         Indonesia     3.17    98.392       Stratovolcano  NaN
810  2018  Papua New Guinea    -3.62    144.62       Stratovolcano  NaN
811  2018       Philippines   13.257   123.685       Stratovolcano  NaN
812  2018             Japan    36.62    138.55       Stratovolcano  NaN
813  2018     United States   19.425  -155.292      Shield volcano    1
814  2018  Papua New Guinea    -3.62    144.62       Stratovolcano  NaN
815  2018         Indonesia   -8.058   114.242       Stratovolcano  NaN
816  2018     United States   19.425  -155.292      Shield volcano    1
817  2018           Vanuatu    -15.4    167.83      Shield volcano    3
818  2018         Guatemala   14.473    -90.88       Stratovolcano    2

[819 rows x 6 columns]

In [28]:
volcano_df.dropna()

       Year           Country  Latitude  Longitude                Type  VEI
1   -4360.0       New Zealand   -30.200   -178.470             Caldera  6.0
2   -4350.0             Japan    30.780    130.280             Caldera  7.0
3   -4050.0         Nicaragua    11.984    -86.161             Caldera  6.0
4   -4000.0  Papua New Guinea    -5.580    150.520             Caldera  6.0
5   -3580.0       Philippines    14.002    120.993       Stratovolcano  6.0
6   -3550.0       Philippines    15.130    120.350       Stratovolcano  6.0
7   -2420.0             Italy    40.821     14.426     Complex volcano  5.0
8   -2040.0  Papua New Guinea    -5.358    147.120     Complex volcano  6.0
9   -1900.0     United States    56.530   -158.800       Stratovolcano  6.0
10  -1860.0     United States    46.200   -122.180       Stratovolcano  6.0
11  -1750.0     United States    56.170   -159.380       Stratovolcano  6.0
12  -1645.0     United States    56.880   -158.170             Caldera  6.0
13  -1610.0            Greece    36.404     25.396      Shield volcano  6.0
15  -1460.0       New Zealand   -38.820    176.000             Caldera  6.0
16  -1370.0  Papua New Guinea    -5.580    150.520             Caldera  6.0
17  -1050.0       Philippines    15.130    120.350       Stratovolcano  6.0
18  -1010.0           Ecuador    -1.467    -78.442       Stratovolcano  5.0
19   -455.0           Ecuador    -0.677    -78.436       Stratovolcano  4.0
20   -250.0       New Zealand   -29.270   -177.920       Stratovolcano  6.0
21   -197.0            Greece    36.404     25.396      Shield volcano  3.0
24   -100.0     United States    53.420   -168.130      Shield volcano  6.0
25    -50.0         Nicaragua    12.242    -86.342  Pyroclastic shield  6.0
26     46.0            Greece    36.404     25.396      Shield volcano  3.0
27     50.0           Vanuatu   -16.250    168.120  Pyroclastic shield  6.0
28     60.0     United States    61.380   -141.750       Stratovolcano  6.0
29     79.0             Italy    40.821     14.426     Complex volcano  5.0
31    230.0       New Zealand   -38.820    176.000             Caldera  6.0
32    240.0            Russia    51.800    157.530       Stratovolcano  6.0
35    450.0       El Salvador    13.672    -89.053             Caldera  6.0
37    540.0  Papua New Guinea    -4.271    152.203  Pyroclastic shield  6.0
..      ...               ...       ...        ...                 ...  ...
736  2005.0       El Salvador    13.853    -89.630       Stratovolcano  3.0
739  2006.0        Montserrat    16.720    -62.180       Stratovolcano  2.0
740  2006.0       Philippines    12.770    124.050       Stratovolcano  2.0
741  2006.0         Indonesia    -7.542    110.442       Stratovolcano  1.0
742  2006.0           Ecuador    -1.467    -78.442       Stratovolcano  3.0
743  2006.0           Ecuador    -1.467    -78.442       Stratovolcano  3.0
744  2006.0       Philippines    13.257    123.685       Stratovolcano  1.0
745  2007.0  Papua New Guinea    -4.100    145.061       Stratovolcano  4.0
750  2008.0     United States    52.180   -175.500       Stratovolcano  3.0
751  2008.0           Ecuador    -1.467    -78.442       Stratovolcano  3.0
755  2010.0           Ecuador    -1.467    -78.442       Stratovolcano  3.0
756  2010.0           Iceland    63.630    -19.620       Stratovolcano  2.0
757  2010.0         Guatemala    14.381    -90.601     Complex volcano  1.0
759  2010.0         Indonesia     2.780    125.480       Stratovolcano  3.0
762  2010.0           Ecuador    -1.467    -78.442       Stratovolcano  3.0
766  2011.0       Philippines    12.770    124.050       Stratovolcano  2.0
768  2011.0           Ecuador    -1.467    -78.442       Stratovolcano  4.0
769  2011.0             Chile   -40.590    -72.117       Stratovolcano  4.0
770  2011.0           Eritrea    13.370     41.700       Stratovolcano  3.0
773  2011.0         Indonesia     0.800    127.325       Stratovolcano  3.0
780  2013.0         Indonesia    -8.320    121.708       Stratovolcano  3.0
783  2013.0         Indonesia     3.170     98.392       Stratovolcano  2.0
787  2014.0             Japan    35.900    137.480     Complex volcano  3.0
794  2015.0  Papua New Guinea    -4.100    145.061       Stratovolcano  2.0
803  2017.0         Indonesia     3.170     98.392       Stratovolcano  2.0
804  2017.0         Guatemala    14.473    -90.880       Stratovolcano  2.0
813  2018.0     United States    19.425   -155.292      Shield volcano  1.0
816  2018.0     United States    19.425   -155.292      Shield volcano  1.0
817  2018.0           Vanuatu   -15.400    167.830      Shield volcano  3.0
818  2018.0         Guatemala    14.473    -90.880       Stratovolcano  2.0

[647 rows x 6 columns]

In [29]:
#Sorting by VEI
volcano_df = volcano_df.sort_values(by='VEI', ascending=False)
volcano_df = volcano_df.reset_index(drop=True)
volcano_df.head(100)

,Year,Country,Latitude,Longitude,Type,VEI
0,1000.0,North Korea,41.980,128.080,Stratovolcano,7.0
1,-4350.0,Japan,30.780,130.280,Caldera,7.0
2,1815.0,Indonesia,-8.250,118.000,Stratovolcano,7.0
3,-4360.0,New Zealand,-30.200,-178.470,Caldera,6.0
4,540.0,Papua New Guinea,-4.271,152.203,Pyroclastic shield,6.0
5,1280.0,Ecuador,-0.850,-78.900,Caldera,6.0
6,60.0,United States,61.380,-141.750,Stratovolcano,6.0
7,1580.0,Papua New Guinea,-6.092,155.225,Pyroclastic shield,6.0
8,230.0,New Zealand,-38.820,176.000,Caldera,6.0
9,240.0,Russia,51.800,157.530,Stratovolcano,6.0
10,450.0,El Salvador,13.672,-89.053,Caldera,6.0
11,1452.0,Vanuatu,-16.829,168.536,Caldera,6.0
12,-50.0,Nicaragua,12.242,-86.342,Pyroclastic shield,6.0
13,710.0,Papua New Guinea,-5.580,150.520,Caldera,6.0
14,1600.0,Peru,-16.608,-70.850,Stratovolcano,6.0
15,800.0,United States,61.380,-141.750,Stratovolcano,6.0
16,800.0,Papua New Guinea,-5.056,150.108,Caldera,6.0
17,930.0,Mexico,21.125,-104.508,Stratovolcano,6.0
18,1660.0,Papua New Guinea,-5.358,147.120,Complex volcano,6.0
19,1912.0,United States,58.270,-155.160,Caldera,6.0
20,50.0,Vanuatu,-16.250,168.120,Pyroclastic shield,6.0
21,-100.0,United States,53.420,-168.130,Shield volcano,6.0
22,-1860.0,United States,46.200,-122.180,Stratovolcano,6.0
23,-4050.0,Nicaragua,11.984,-86.161,Caldera,6.0
24,-4000.0,Papua New Guinea,-5.580,150.520,Caldera,6.0
25,-3580.0,Philippines,14.002,120.993,Stratovolcano,6.0
26,-3550.0,Philippines,15.130,120.350,Stratovolcano,6.0
27,1883.0,Indonesia,-6.102,105.423,Caldera,6.0
28,-2040.0,Papua New Guinea,-5.358,147.120,Complex volcano,6.0
29,1902.0,Guatemala,14.756,-91.552,Stratovolcano,6.0
...,...,...,...,...,...,...
70,1812.0,St. Vincent & the Grenadines,13.330,-61.180,Stratovolcano,4.0
71,1780.0,Japan,31.580,130.670,Stratovolcano,4.0
72,1965.0,Philippines,14.002,120.993,Stratovolcano,4.0
73,1966.0,Indonesia,-7.930,112.308,Stratovolcano,4.0
74,1966.0,Indonesia,3.670,125.500,Stratovolcano,4.0
75,1966.0,Tanzania,-2.751,35.902,Stratovolcano,4.0
76,1818.0,Mexico,19.514,-103.620,Stratovolcano,4.0
77,934.0,Iceland,63.630,-19.050,Subglacial volcano,4.0
78,1790.0,United States,19.425,-155.292,Shield volcano,4.0
79,1784.0,Iceland,64.420,-17.330,Caldera,4.0
80,1783.0,Japan,36.400,138.530,Complex volcano,4.0
81,2004.0,Papua New Guinea,-4.100,145.061,Stratovolcano,4.0
82,1779.0,Japan,31.580,130.670,Stratovolcano,4.0
83,1780.0,Japan,31.580,130.670,Stratovolcano,4.0
84,764.0,Japan,31.580,130.670,Stratovolcano,4.0
85,1778.0,Russia,48.292,153.250,Stratovolcano,4.0
86,1974.0,Guatemala,14.473,-90.880,Stratovolcano,4.0
87,1768.0,Ecuador,-0.677,-78.436,Stratovolcano,4.0
88,1766.0,Iceland,63.980,-19.700,Stratovolcano,4.0
89,1760.0,Indonesia,0.320,127.400,Stratovolcano,4.0
90,1755.0,Iceland,63.630,-19.050,Subglacial volcano,4.0
91,1754.0,Philippines,14.002,120.993,Stratovolcano,4.0
92,1741.0,Japan,41.500,139.370,Stratovolcano,4.0
93,2011.0,Chile,-40.590,-72.117,Stratovolcano,4.0
94,1727.0,Iceland,64.000,-16.650,Stratovolcano,4.0
95,1982.0,Indonesia,-7.250,108.050,Stratovolcano,4.0
96,1158.0,Iceland,63.980,-19.700,Stratovolcano,4.0
97,2011.0,Ecuador,-1.467,-78.442,Stratovolcano,4.0
98,1822.0,Japan,42.530,140.830,Stratovolcano,4.0
99,1947.0,Iceland,63.980,-19.700,Stratovolcano,4.0

In [30]:
#Assing severity rating
volc_rating= []
for row in volcano_df['VEI']:
    if row >= 6:
        volc_rating.append('5')
    elif row >= 5:
        volc_rating.append('4')
    elif row >= 4:
        volc_rating.append('3')
    elif row >= 3:
        volc_rating.append('2')
    else:
        volc_rating.append('1')

In [31]:
volcano_df['Rating'] = volc_rating

In [34]:
#Duplicative name, renaming to prep to place the"Type" field to match the others
volcano_df['Volcano Type'] = volcano_df['Type']

In [35]:
volc_passer= []
for row in volcano_df.index:
    if row >= 0:
        volc_passer.append('Volcano')

In [36]:
volcano_df['Type'] = volc_passer

In [37]:
volcano_df.head()

,Year,Country,Latitude,Longitude,Type,VEI,Rating,Volcano Type
0,1000.0,North Korea,41.980,128.080,Volcano,7.0,5,Stratovolcano
1,-4350.0,Japan,30.780,130.280,Volcano,7.0,5,Caldera
2,1815.0,Indonesia,-8.250,118.000,Volcano,7.0,5,Stratovolcano
3,-4360.0,New Zealand,-30.200,-178.470,Volcano,6.0,5,Caldera
4,540.0,Papua New Guinea,-4.271,152.203,Volcano,6.0,5,Pyroclastic shield

In [38]:
volcano_df.head(1)

,Year,Country,Latitude,Longitude,Type,VEI,Rating,Volcano Type
0,1000.0,North Korea,41.98,128.08,Volcano,7.0,5,Stratovolcano

In [39]:
eq_df.head(1)

         Type  Year     Time  Latitude  Longitude  Magnitude Rating
0  Earthquake  2011  5:46:24    38.297    142.373        9.1      5

In [40]:
meteor_df.head(1)

   Name        Mass    Year  Latitude  Longitude    Type Rating
0  Hoba  60000000.0  1920.0 -19.58333   17.91667  Meteor      5

In [ ]:
merge_table = pd.merge(volcano_df, eq_df, on="Type", how= 'outer')

In [ ]:
merge_table.head()

In [ ]:
new_df = volcano_df.append(eq_df)
new_df.head(1)

In [ ]:
new_df = new_df.append(meteor_df)
new_df.head(1)

In [ ]:
new_df = new_df[['Type', 'Rating', 'Latitude', 'Longitude', 'Year', 'Magnitude', 'Mass', 'VEI']]

In [ ]:
new_df.head()

In [ ]:
new_df.to_csv("../Data/CleanedSet.csv", index=False)